<div class="komunikacija-content">
  <header>
    <h1>Digitālā komunikācija ar pasniedzējiem un tiešsaistes lekcijas</h1>
  </header>

  <nav>
    <a href="kopienas.html">← Iepriekšējā</a>
    <a href="../index.html">Uz sākumu</a>
    <a href="klades.html">1. Klades</a>
    <a href="kopienas.html">2. Kopienas</a>
    <a href="komunikacija.html">3. Komunikācija</a>
    <a href="detoksikacija.html">4. Detoksikācija</a>
    <a href="nakotne.html">5. Nākotne</a>
  </nav>

  <div class="content">
    <div class="row">
      <div class="image">
        <img src="../outlook_LU.png" alt="Latvijas universitātes e-pasta konta demonstrācija">
      </div>
      <div class="text">
        <p>LU digitālā vide ļauj sazināties ar pasniedzējiem daudz ātrāk un ērtāk nekā tradicionāli. Svarīgākā saziņas forma ir e-pasts, bet bieži tiek izmantots arī Moodle vai MS Teams ziņojumi.</p>
        <p>Pasniedzēji cenšas atbildēt laikus, taču tas var atšķirties atkarībā no cilvēka. Daži ir ļoti pieejami un iesaistās diskusijās, citi – mazāk. Tomēr kopumā šī digitālā pieeja sniedz studentiem lielāku elastību un neatkarību.</p>      
    </div>
    </div>

    <div class="row reverse">
      <div class="text">
        <p>Tiešsaistes lekcijas ir kļuvušas par normu, īpaši lieliem kursiem. No vienas puses, tas ļauj ietaupīt laiku un pārlūkot ierakstus vēlāk. No otras – pietrūkst dzīvas mijiedarbības. Dažreiz ir grūti saglabāt uzmanību un iesaistīties bez aci pret aci kontaktiem.</p>
      </div>
      <div class="image">
        <img src="../teams.png" alt="Microsoft teams, kas tiek izmantots Latvijas Universitātē">
      </div>
    </div>
  </div>

  <footer>
    <div class="contact">
      <span>Kontakti | ✉</span> <a href="mailto:sr19062@edu.lu.lv">sr19062@edu.lu.lv</a>
    </div>
    <div class="button-container">
      <button class="next-fragment" data-next="detoksikacija">Nākamā →</button>
    </div>
  </footer>
</div>
